<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @collection.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @collection.desc %>
</p>

<p>
  <b>User:</b>
  <%= @collection.user_id %>
</p>

<ul>
<%  @collection.cars.each do |car| %>
<li><%= car.version.main_color %> <%= car.version.casting.name %> </li>
<% end %>
</ul>


<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
