<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @casting.name %>
</p>

<p>
  <b>Copyright:</b>
  <%= @casting.copyright %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @casting.manufacturer_id %>
</p>

<p>
  <b>Scale:</b>
  <%= @casting.scale %>
</p>


<%= link_to 'Edit', edit_casting_path(@casting) %> |
<%= link_to 'Back', castings_path %>
