<%= form_for(@wheel) do |f| %>
  <% if @wheel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wheel.errors.count, "error") %> prohibited this wheel from being saved:</h2>

      <ul>
      <% @wheel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wheel_style_id %><br />
    <%= f.text_field :wheel_style_id %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :color2 %><br />
    <%= f.text_field :color2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
