<p id="notice"><%= notice %></p>

<p>
  <b>Wheel style:</b>
  <%= @wheel.wheel_style_id %>
</p>

<p>
  <b>Color:</b>
  <%= @wheel.color %>
</p>

<p>
  <b>Color2:</b>
  <%= @wheel.color2 %>
</p>


<%= link_to 'Edit', edit_wheel_path(@wheel) %> |
<%= link_to 'Back', wheels_path %>
