<%= form_for(@version) do |f| %>
  <% if @version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@version.errors.count, "error") %> prohibited this version from being saved:</h2>

      <ul>
      <% @version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :main_color %><br />
    <%= f.text_field :main_color %>
  </div>
  <div class="field">
    <%= f.label :base_color %><br />
    <%= f.text_field :base_color %>
  </div>
  <div class="field">
    <%= f.label :wheel_id %><br />
    <%= f.text_field :wheel_id %>
  </div>
  <div class="field">
    <%= f.label :markings %><br />
    <%= f.text_field :markings %>
  </div>
  <div class="field">
    <%= f.label :color2 %><br />
    <%= f.text_field :color2 %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :series %><br />
    <%= f.text_field :series %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= collection_select(:version, :casting_id, @castings, :id, :name, {:prompt => false}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
