<p id="notice"><%= notice %></p>

<p>
  <b>Main color:</b>
  <%= @version.main_color %>
</p>

<p>
  <b>Base color:</b>
  <%= @version.base_color %>
</p>

<p>
  <b>Wheel:</b>
  <%= @version.wheel_id %>
</p>

<p>
  <b>Markings:</b>
  <%= @version.markings %>
</p>

<p>
  <b>Color2:</b>
  <%= @version.color2 %>
</p>

<p>
  <b>Year:</b>
  <%= @version.year %>
</p>

<p>
  <b>Series:</b>
  <%= @version.series %>
</p>

<p>
  <b>Country:</b>
  <%= @version.country %>
</p>

<p>
  <b>Casting:</b>
  <%= link_to "#{@version.casting.name}", @version.casting %>
</p>
<p><b>Cars using this Version:</b></p>
<ul>
  <% @version.cars.each do |car| %>
  <li><%= link_to car.version.casting_string, car %></li>
  <% end %>
</ul>
<p>Images of cars using this version:</p>
<p>
  <% @version.cars.each do |car| %>
  <% if !car.images.empty? then car.images.each do |image| %>
  <%= link_to image_tag(image.src,:height=>100), image %>
  <% end end end %>
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back to Versions', versions_path %>
