<h1>Listing cars</h1>

<table>
  <tr>
    <th>Date acquired</th>
    <th>Version</th>
    <th>Desc</th>
    <th>Base code</th>
    <th>Variation</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.date_acquired %></td>
    <td><%= link_to "#{car.version.casting_string}",version_path(car.version_id) %></td>
    <td><%= car.desc %></td>
    <td><%= car.base_code %></td>
    <td><%= car.variation %></td>
    <td><%= if car.images.empty? then else link_to image_tag(car.images.first.src, :height => 30, :alt => car.version.casting_string), car.images.first end %></td>
    <td><%= car.user.name %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car', new_car_path %>
