<p id="notice"><%= notice %></p>

<p>
  <b>Date acquired:</b>
  <%= @car.date_acquired %>
</p>

<p>
  <b>Version:</b>
  <%= link_to @car.version.casting_string, @car.version %>
</p>

<p>
  <b>Desc:</b>
  <%= @car.desc %>
</p>

<p>
  <b>Base code:</b>
  <%= @car.base_code %>
</p>

<p>
  <b>Variation:</b>
  <%= @car.variation %>
</p>

<p>
  <b>User:</b>
  <%= link_to @car.user.name, @car.user %>
</p>

<p>
  <%= if @car.images.empty? then else link_to image_tag(@car.images.first.src, :height => 300, :alt => @car.images.first.name), @car.images.first end%>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
